/* Sayfa yapısı genel ayarı. */
body {
    margin: 0px;
}

/* Alt satıra geçmek için kullanılan komut özelliği. */
.clr {clear: both;
}

/**************************** NAV-BAR İÇİN GEREKLİ CSS AYARLARI ***********************************/

/* Logoların genel ayarları. */
.n-logo {
    width: 1150px;
    float: left;
    padding: 10px;
    margin-left: 400px;
}

/* Logoların her birinin ayrı ayrı ayarı. */
.n-logo img {
    height: 90px;
    margin-right: 10px;
}

/* Nav Bar genel ayarları. */
nav {
    background-image: url(/images/banner.jpeg);
    background-size: cover;
    margin: 0px;
    height: 280px;
}

/* Search Bar ve Ana Başlık ayarlarını buradan yapabilirsin. */
.s-bar {
    font-size: 20px;
    text-align: center;
}

/* Ana Başlık ayarları. */
.s-bar h1 {
    margin: auto;
    color: rgb(49, 156, 228);
    background-color: white;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* Search Bar ayarları. */
.s-bar input[type="text"] {
    width: 300px;
    height: 20px;
    margin: 10px;
}

/* Search Bar Ara tuşu ayarları. */
.s-bar input[type="submit"] {
    width: 80px;
    height: 26px;
    background-color: white;  
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(49, 156, 228);  
}

/* Search Bar Ara tuşu hover özelliği. */
.s-bar input[type="submit"]:hover {
    background-color: rgb(49, 156, 228);
    color: white;
}

/* Kullanıcı giriş bilgileri ayarlarını buradan yapabilirsin. */
fieldset {
    width: 200px;
    margin: 10px 10px 0px 0px;
    float: right;
    background-color: rgb(49, 156, 228);
    color: white;
    font-weight: bold;
}

/* Kullanıcı giriş bilgilerindeki Onayla tuşu ayarları. */
fieldset [value="Onayla"] {
  color: rgb(49, 156, 228);
  background-color: white;  
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
}

/* Kullanıcı giriş bilgilerindeki onayla tuşunun hover özelliği. */
fieldset [value="Onayla"]:hover {
    background-color: rgb(49, 156, 228);
    color: white;
}


/* nav bar içerisindeki sayfayönlendirme yönergeleri için tüm değişiklikleri buradan yapabilirsin. */
nav a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: rgb(49, 156, 228);
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
    margin: 2px;
}

/* nav bardaki sayfa yönlendirme yönergelerinin hover özelliği. */
nav a:hover {
    background-color: white;
    color: rgb(49, 156, 228);
}

/********************************* MAIN İÇİN GEREKLİ CSS AYARLARI *********************************/
main {
    pad: 0px;
    margin: 0px;
}

.s-left {
    background-color: yellow;
    margin:10px 1% 10px 1% ;
    padding: 10px 1% 10px 1%;
    width: 16%;
    float: left;
}

.s-right {
    background-color: orange;
    margin:10px 1% 10px 1% ;
    padding: 10px 1% 10px 1%;
    width: 16%;
    float: right;
}

section {
    background-color: aqua;
    margin:10px 20.6% 10px 20.6% ;
    padding: 10px 0.4% 10px 0.4%;
    width: 58%;
}

/******************************** FOOTER İÇİN GEREKLİ CSS AYARLARI ********************************/

.i-bil {
    background-color: aqua;
    height: 80px;
    width: 350px;
    float: left;
}

.s-med {
    background-color: aqua;
    height: 80px;
    width: 350px;
    float: right;
}