a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clr {
    clear: both;
}

body, button, input {
font-family: arial,sans-serif;
font-size: 14px;
}

#card1 {
    float: right;
    padding: 10px 10px 10px 10px;
}

.img1 {
    width: 24px;
    height: 24px;
    padding: auto;
    margin: 5px 0px 5px 0px;
}

.txt1 {
    text-align: center;
    padding: 2px 5px 6px 5px;
    margin: 5px 15px 5px 0px;
}

